* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    margin: 0px;
    padding: 0px;
    font-family: poppins;
    background-color: #080808;
}


ul{
    list-style: none;
}

a{
    text-decoration: none;
}

::selection{
    background-color: #e70634;
    color: #080808;
}

/* Hide_Default_Scroll_Bar */

body::-webkit-scrollbar{
    display: none;
}

body{
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* Navigation */

.navigation{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 50px;
    max-width: 1400px;
    margin: auto;
    width: 100%;
}

.navigation .menu-icon {
    cursor: pointer;
    float: right;
    padding: 20px 10px;
    z-index: 107;
}

.navigation .menu-icon .nav-icon {
    background-color: #ffffff;
    display: block;
    height: 2px;
    width: 25px;
    position: relative;
    transition: background 0.2s ease-out;
}

.navigation .menu-icon .nav-icon::before,
.navigation .menu-icon .nav-icon::after{
    background-color: #ffffffcc;
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    transition: all ease-out 0.2s;
}

.navigation .menu-icon .nav-icon::before{
    top: 8px;
}

.navigation .menu-icon .nav-icon::after{
    top: 8px;
}

.navigation .menu-button:checked ~ .menu-icon .nav-icon{
    background-color: transparent;
}

.navigation .menu-button:checked ~ .menu-icon .nav-icon::before{
    transform: rotate(-45deg);
    top: 0px;
}

.navigation .menu-button:checked ~ .menu-icon .nav-icon::after{
    transform: rotate(45deg);
    top: 0px;
}

.menu-button{
    display: none;
}

.menu{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: #111111f1;
    z-index: 106;
    display: none;
    justify-content: center;
    align-items: center;
    animation: fade 0.3s;
}

.menu li a{
    color: #ffffff;
    margin: 0px 40px;
    font-size: 2rem;
    transition: all ease 0.3s;
}

.menu li a:hover{
    font-size: 2.3rem;
    color: #e70634;
    transition: all ease 0.3s;
}

.navigation .menu-button:checked ~ .menu{
    display: flex;
}

.logo{
    color: #ffc250;
    font-size: 3rem;
    font-weight: 400;
    margin: 0px auto 0px 40px;
    display: flex;
    align-items: center;
    letter-spacing: 1PX;
}

.logo span{
    font-size: 2rem;
    margin-left: 5px;
    font-weight: 700;
    letter-spacing: 2px;
}

.search-box{
    background-color: #d1d1d111;
    padding: 3px 20px;
    border-radius: 20px;
    height: 40px;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
}

.search-box input{
    background-color: transparent;
    border: none;
    outline: none;
    color: #ffffff;
}

.search-box img{
    width: 20px;
    height: 20px;
}

.img-Search{
    border-top: 25%;
    margin-top: 5px;
}

.search-box input::placeholder{
    color: #ffd050;
}

.search-box button{
    background-color: transparent;
    color: #ffffffc9;
    border: none;
    outline: none;
    cursor: pointer;
}

/* Making_Home_Page_Responsive */

@media(max-width: 1200px) {
    .menu li a{
        margin: 0px;
        font-size: 1.6rem;
    }

    .menu{
        flex-direction: column;
    }
}

@media(max-width: 824px) {
    .navigation{
        padding: 20px 10px;
        width: 90%;
    }

    .logo,
    footer .logo{
        font-size: 1.3rem;
    }

    footer{
        padding: 10px 20px;
        text-align: center;
    }
}

@media(max-width: 530px) {
    .navigation{
        display: grid;
        grid-template-columns: 60px 1fr;
        grid-template-rows: 1fr 1fr;
        padding: 20px 0px;
    }

    .logo{
        margin: 0px;
    }

    .search-box{
        grid-column-start: 1;
        grid-column-end: 3;
        width: 100%;
        border-radius: 0px;
    }

    .menu li a:hover{
        font-size: 1.8rem;
    }

    footer .copyright{
        font-size: 0.8rem;
    }
}

.container{
    width: 100%;
    height: vh;
    position: relative;
}

.container img{
    width: 100%;
    height: 100%;
    
}

.main-box{
    width: 90%;
    height: 80%;
    background-color: #181818e8;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-around;
}

.img-box, .content-box{
    width: 600px;
    height: 100%;
    color: #fff;
}

.img-box{
    background-image: url("../Media/Image_Series/series-1.png");
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 8px 8px #181818e8 inset;
}

.content-box{
    padding: 2em;
    box-shadow: 0 0 8px 8px #181818e8 inset;
}

.content-box h1{
    color: #dd13ff;
    font-family: monoton, sans-serif;
}

.content-box h3{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    margin: 1em 0 0;
    text-transform: uppercase;
}

.content-box .rating{
    width: 60%;
    height: auto;
    padding: 1em 0;
    display: flex;
    justify-content: space-between;
}

.content-box .rating .stars{
    color: #eeff00;
}

.content-box .rating .stars i:last-child{
    color: grey;
}

.description p{
    font-size: 18px;
    line-height: 24px;
    margin: 1em 0;
}

.description strong{
    color: #dd13ff;
}

.button{
    display: flex;
}

.button a{
    border: 2px solid #fff;
    color: #fff;
    border-radius: 10px;
    padding: 1em 1em;
    margin: 0 1em 0 0;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
    transition: all 0.75s;
    font-size: 20px;
}

.button a:nth-child(1):hover{
    background-color: #dd13ff;
    border: 2px solid #dd13ff;
}

.button a:nth-child(2):hover{
    background-color: #eeff00;
    border: 2px solid #eeff00;
}

/* Screen_Shots */

.screenshots{
    width: 100%;
    max-width: 800px;
    margin: 0px auto 50px auto;
}

.screenshots strong{
    color: #e70634;
    font-family: monoton;
    font-size: 2rem;
    font-weight: 400;
}

.screen-s-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}

.screen-s-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}


/*Footer*/

footer{
    background-color: #0e0e0ec2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
    margin: 0px;
    height: 50%;
}

footer .copyright {
    color: #4d4d4d;
    font-size: 0.9rem;
}

footer .logo{
    margin: 0px;
    font-size: 2rem;
    font-weight: 400;
}
