*{
    margin-top: 0px;
}
h1{
    color: white;
    text-align: center;
    text-shadow: 3px 1px gray;
    word-spacing: 5px;
}
.fff{
    width: 90px;
    height: 80px;
    border-radius: 10px;
}
.nav{
    height: 30px;
    margin-left: -5px;
    background-color:darkblue;
}
.vv .vid{
    color:lightcoral;
    font-size: 60px;
    font-weight: 600;
    text-align: center;
    margin-top: 50px;
}
.vv .zx video{
    margin-left: 0px;
    width: 50%;
}
video{
    width: 600px;
    height: 200px;
    margin-top: -17px;
    margin-right: 25px;
    margin-left: 25px;
    border: 3px solid white;
}
div{
    background-color:lightslategray;
    text-align:lift;
    color: white;
    position:relative;
}
p{
    color: rebeccapurple;
}
.ima{
    color:blue;
    width: 500px;
    padding: 10px;
}
h2{
    color: blue;
    background:white;
    border-radius: 4px 4px 0 0;
    
}
.ig{
    width: 110px;
    height: 110px;
    margin: 50px;
    margin-left: 90px;
}
video{
    width: 800px;
   height: 500px;
    position:relative;
    margin: 50px 50px;
    left:500px;
}
.all
{
    background-color:lightslategrey;
    height: 200px;
    border-radius: 30px;
}

details{
    color: darkgreen;
    font-size: large;
    margin-left: 10px;
    background-color:lightcoral;
}
iframe{
    width: 800px;
   height: 500px;
    position:relative;
    top: 50px;
    margin: 50px 50px;
    left:500px;
}
.actors{
    margin-top: 50px;

}
h3{
    color:blue;
    background:white;
    border-radius: 4px 4px 0 0;
}
.actors img{
    height: 200px;
    border-radius: 30px;
    position: relative;
    margin: 80px;
}
.footer{
    color:black;
    width: 340px;
    height: 100px;
    margin: 10px;
}
.link{
    color: lightgray;
}
.face,
.google,
.in{
    padding: 50px;
    margin: 10px;
    cursor: pointer;
    margin-top: -20px;
}
.ul {
    background-color: black;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
.vvv{
      width: 100%;
  }
  .asd ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;

  }
  .asd ul li{
    padding-left: 20px;
    font-size: 40px;
    font-weight: 400;
    display: inline;
    justify-content: space-between;
    align-items: center;
    color: brown;
    margin-left: 50px;
  }
  .you{
      background-color: orange;
      width: 100%;
      height: 100%;
  }
  .you .way{
    font-size: 80px;
    font-weight: 650;
    text-align: center;
    position: absolute;
    left: 800px;
    top:18px;
    background-color: orange;
  }
  .kh {
      background-color: lightslategray;

  }
  .kh .ert{
    font-size: 80px;
    font-weight: 650;
    text-align: center;
    background-color: lightslategray;
  }
  .qp{
      background-color:lightslategray;
      width: 100%;
      height: 50%;
      justify-content: center;
      align-items: center;
      margin-left: 20px;
  }
.qp .mn{
      font-size: 50px;
      text-align: center;
      font-weight: 500;
      color: aqua;
      margin-left: 280px;
  }
  .qp .op{
      margin-left: 900px;

  }
  .vv{
    background-color:lightslategray;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center; 
  }
.Story{
    font-size: 80px;
    font-weight: 600;
    text-align: center;
    margin-top: 0px;
    color: #e80;
    text-decoration: underline;
}
.Story:hover{
    color: black;
    font-size: 60px;
}
.description{
    width: 100%;
    text-align: center;
    font-size: 40px;
    font-weight: 100;
    margin-top: 5px;
    color: green;
}

.Images .ima{
    font-size: 80px;
    text-align: center;
    font-weight: 700;
    margin-left: 500px;
}
.Next{
    font-size: 30px;
    text-decoration: underline;
    font-weight: 200;
    text-align: center;
}
.vvv .nav ul{
    list-style-type: none;
    display: flex;
    margin-left: 500px;
    align-items: center;
    position: relative;
    z-index: 108;
    background-color: none;
    top: 60px;
}
.vvv .nav ul li{
    font-size: 50px;
    font-weight: 500;
    margin-left: 40px;
    margin-right: 40px;
}
.footer{
    justify-content: space-around;
    display: flex;
    width: 100%;
}
.footer img{
    margin-left: 100px;
    margin-right: 100px;
}