body{
    background-color: beige;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.e{
    color: rgb(89, 0, 255);
     letter-spacing: 1px;
     line-height: 1.6;
}
#t{
    font-size: 100px;
    color: red;
}
.h{
    font-size: 50px;
}