*{
    margin: 0px;
    padding: 0px;
    font-family: poppins;
    box-sizing: border-box;
}

body{
    margin: 0px;
    padding: 0px;
    font-family: poppins;
    background-color: #080808;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

/* Navigation */

.navigation{
    display: flex;
    padding: 0px;
    max-width: 1400px;
    margin: 10px;
    width: 100%;
}

.menu{
    position: fixed;
    left: 250px;
    top: 0px;
    width: 50px;
    height: 20px;
    display: flex;
    margin-top: 15px;
}

.menu li{
    margin-left: 30px;
    font-size: 30px;
}

.menu li a {
    color: #e70634;
}

.menu li a:hover{
    font-size: 35px;
    color: #ffc250;
}

.logo{
    color: #ffc250;
    font-size: 45px;
    font-weight: 400;
    margin: 0px auto 0px 40px;
    display: flex;
    align-items: center;
    letter-spacing: 1PX;
}

.logo span{
    font-size: 0.7rem;
    margin-left: 5px;
    font-weight: 700;
    letter-spacing: 2px;
}

.search-box{
    background-color: #d1d1d111;
    padding: 3px 20px;
    border-radius: 20px;
    height: 40px;
    margin-right: 20px;
}

.search-box input{
    background-color: transparent;
    border: none;
    margin-top: 20px;
    color: #ffffff;
}

.search-box img{
    width: 20px;
    height: 20px;
}

.img-Search{
    border-top: 25%;
    margin-top: 5px;
}

.search-box input::placeholder{
    color: #ffd050;
}

.search-box button{
    background-color: transparent;
    color: #ffffffc9;
    border: none;
    outline: none;
    cursor: pointer;
    border: 2px solid red;
}

/* Movie_Page */

.movie-banner{
    width: 70%;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    display: flex;
    justify-content: center;
}

.m-banner-img{
    
    border-radius: 20px;
}

.m-banner-img img{
    width: 100%;
    height: 100%;
}

.banner-container{
    width: 20%;
    
}


.title-container{
    width: 100%;
    max-width: 700px;
}

.movie-title h1{
    color: #ffffff;
    font-weight: 600;
    font-size: 30px;
    letter-spacing: 1px;
}

.more-about-movie{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
    flex-wrap: wrap;
    color: #e9e9e9;
}

.more-about-movie span{
    margin-right: 20px;
    letter-spacing: 1px;
    font-size: 0.8rem;
}

.title-bottom{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-wrap: wrap;
}

.title-bottom .category{
    margin-right: 40px;
    font-size: 0.8rem;
    color: #dadada;
}

.title-bottom .category a{
    color: #e70634;
    margin-right: 5px;
}

.title-bottom .category strong{
    font-weight: 500;
    color: #ffffff;
}

.watch-btn{
    width: 220px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff09;
    border: 1px solid #ffffff2c;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 0.9rem;
    color: #ffffff;
    letter-spacing: 1px;
    transition: all ease 0.3s;
}

.watch-btn:hover{
    background-color: #e70634;
    transition: all ease 0.3s;
}

.play-btn{
    width: 65px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid #dadada48;
    z-index: 3;
    background-color: rgba(255, 0, 0, 185);
    position: relative;
}

.play-btn a{
    width: 65px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: all ease 0.3s;
}

.play-btn a:hover{
    background-color: #e70634;
    transition: all ease 0.3s;
}

.play-btn img{
    width: 60px;
    height: 60px;
    color: #ffffff;
}

.play-btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    max-width: 500px;
}

.play-btn::before{
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    width: 180%;
    height: 180%;
    border: 1px solid #ffffff26;
    background-color: #ffffff18;
    z-index: -1;
}

/* Full_Movie_Video */

#play{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(15, 15, 15, 0.7);
    z-index: 108;
    display: none;
}

.play-movie{
    width: 80%;
}

.play-movie video,
.play-movie iframe{
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
    z-index: 108;
}

.close-movie{
    position: fixed;
    right: 60px;
    top: 60px;
    font-size: 2rem;
    color: #e70634;
    transition: all ease 0.3s;
}

.close-movie:hover{
    opacity: 0.6;
    transition: all ease 0.3s;
}

.close-movie img{
    width: 60px;
    height: 60px;
}

.active-popup{
    display: flex !important;
}

/* Details_Movie */

.movie-details{
    max-width: 1000px;
    width: 100%;
    margin: 30px auto 20px auto;
    padding: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.movie-details strong{
    color: #ffffff;
    font-size: 1.3rem;
    font-weight: 600;
    letter-spacing: 1px;
}

.movie-details p{
    color: #747474;
    margin: 10px 10px;
}

/* Screen_Shots */

.screenshots{
    width: 100%;
    max-width: 800px;
    margin: 0px auto 50px auto;
}

.screenshots strong{
    color: #e70634;
    font-family: monoton;
    font-size: 2rem;
    font-weight: 400;
}

.screen-s-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}

.screen-s-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/*Footer*/

footer{
    background-color: #0e0e0ec2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
}

footer .logo{
    margin: 0px;
    font-size: 2rem;
    font-weight: 400;
}

