*{
    margin: 0px;
    padding: 0px;
    font-family: poppins;
    box-sizing: border-box;
}
body{
    background-color: #080808;
    margin: 0px;
    padding: 10px;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
/*Navigation*/
.Navigation{
    padding: 0px;
    width: 90%;
    display: flex;
    margin-left: 80px;
}
.Menu{
    margin-left: 0px;
    margin-top: 15px;
    display: flex;
}
.Menu li{
    margin-left: 60px;
    font-size: 30px;
}
.Menu li a{
    color: #e70634;
}
.Menu li a:hover{
    font-size: 35px;
    color: #ffc250;
}
.logo{
    color: rgba(53, 72, 181, 1);
    font-size: 40px;
    font-weight: 500;
    margin: 0px auto 5px 20px;
}
.Search{
    background-color: rgba(255, 106, 109, 0.7);
    padding: 2px;
    border-radius: 20px;
    height: 35px;
    margin-top: 10px;
    margin-left: 180px;
    width: 13%;
}
.Search input{
    background-color: transparent;
    border: none;
    width: 50%;
    margin-top: 8px;
    margin-left: 7px;
    color: rgba(255, 106, 109, 0.7);
}
.Search img{
    width: 20px;
    height: 20px;
    border-top: 0px;
    margin-top: 0px;
    margin-left: 0px;
    position: absolute;
    top: 27px;
}
.Search input::placeholder{
    color: #ffd050;
}
.Search button{
    background-color: transparent;
    color: #ffc250;
    cursor: pointer;
    outline: none;
    border: none;
    width: 55px;
    margin-left: 120px;
    margin-top: 0px;
    border-radius: 10px;
    z-index: -107;
}
.container{
    display: grid;
    place-items: center;
    min-height: 100vh;
    background-color: #161616;
    color: #ffe7c8;
    font-size: .9rem;
    padding: 0px;
    margin: 0px;
}

.card {
    width: 65%;
    height: 60%;
    display: flex;
    padding: 1.5px;
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
    margin: 5rem 0px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 200ms ease-in-out transform;
}

.img-1{
    height: 55%;
    width: 25%;
    margin: 15px;
    object-fit: cover;
    transition: 200ms ease-in-out transform;
}

.top {
    display: flex;
    width: 95%;
}

.movie-info-container {
    width: 65%
}

.general-info {
    margin-left: 0.5rem;
    flex: 0.9;
}

.general-info h2 {
    margin-bottom: 1rem;
    margin-top: 0.7rem;
}

.movie-info {
    margin-top: 0.5rem;
    margin-left: 1.4rem;
    width: 88%;
    font-size: 18px;
}

.general-info div {
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;
}

.img-2 {
    position: absolute;
    width: 40%;
    height: 100%;
    right: 0;
    top: 0;
    overflow: hidden;
    opacity: .6;
}

.card::before {
    content: '';
    position: absolute;
    top: 0;
    right: 30%;
    width: 10%;
    height: 100%;
    background-image: linear-gradient(to right, #161616, transparent);
    z-index: 2;
}

.card:hover .img-2 img {
    transform: scale(1.1);
}

.card:first-child,
.card:first-child .img-1 {
    box-shadow: 0 0 1rem #ff0000;
}

.card:first-child .general-info div span:last-of-type {
    font-weight: 700;
    color: #ff3939;
}

.card:last-child,
.card:last-child .img-1 {
    box-shadow: 0 0 1rem rgba(255, 166, 0, .8);
}

.card:last-child .general-info div span:last-of-type {
    font-weight: 700;
    color: #ffa600;
}

/*Full_Movie_Video*/
#Play{
    position: relative;
    justify-content: center;
    align-items: center;
    left: 100px;
    top: 50px;
    width: 10%;
    height: 10%;
}
.Play-movie a img{
    width: 100px;
    margin-top: 140px;
    margin-left: 40px;
}
/*Footer*/

.watch-btn{
    width: 50%;
    height: 30%;
    display: flex;
    margin-top: 0px;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #ffffff09;
    border: 2px solid #ffffff2c;
    border-radius: 20px;
    text-transform: uppercase;
    font-size: 4rem;
    color: #ffffff;
    letter-spacing: 1px;
    transition: all ease 0.3s;
    position: relative;
    top: 0px;
    left: 400px;
}

.watch-btn:hover{
    background-color: #e70634;
    transition: all ease 0.3s;
}



footer{
    background-color: #0e0e0ec2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
    margin: 0px;
    height: 50%;
}

footer .logo{
    margin: 0px;
    font-size: 2rem;
    font-weight: 400;
}

.title-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 500px;
    top: 100px;
}

.title-bottom .category{
    margin-left: 30px;
    font-size: 2.5rem;
    color: #dadada;
    margin-top: 0px;
    position: relative;
    top: 50px;
    right: 50px; 
}

.title-bottom .category a{
    color: #e70634;
    margin-right: 5px;
}

.title-bottom .category strong{
    font-weight: 200;
    color: #ffffff;
}

.Popular-artist .h4{
    display: flex;
    border: 1px solid yellow;
    width: 30%;
    height: 20%;
    align-items: center;
    justify-content: space-between;
}

.Popular-artist{
    width: 100%;
    height: 100%;
    margin: auto;
    margin-top: 15px;
}

.Popular-artist .h4 .bi{
    color: #a4a8b4;
    cursor: pointer;
    transition: 0.3s linear;
}

.Popular-artist .h4{
    color: #a4a8b4;
    cursor: pointer;
    transition: 0.3s linear;
    width: 30%;
    height: 50px;
    font-size: 50px;
    margin-left: 10px;
    padding: 30px;
}

.Popular-artist .h4 .bi:hover{
    color: #fff;
}

.Popular-artist .item{
    width: 60%;
    height: auto;
    margin-top: 10px;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.Popular-artist .item::-webkit-scrollbar{
    display: none;
}

.Popular-artist .item li{
    list-style-type: none;
    position: relative;
    min-width: 100px;
    height: 100px;
    /*background-color: #fff;*/
    border-radius: 50%;
    margin-right: 20px;
    cursor: pointer;
}

.Popular-artist .item li img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
}
